<div class="container">
  <div id="dashWelcome">
    <p>Hello, {{currentUser.pref_name}}!</p>
    <p ng-if="loggedIn == true">Thank you for interceding on behalf of those who need it most!</p>
    <p ng-if="loggedIn == false">Please read below for a tour of the Member Dashboard!</p>
  </div>
  <div class="row">
  <div id="personalStatsBox">
    <div ng-if="loggedIn == false">
      <p>This is the Personal Stats Box.</p>
      <p>This is where you check-in daily on your mission.</p>
      <button type="button" id="tourButton">Button to log progress</button>
    </div>
    <div ng-if="loggedIn == true">
      <p>You have fulfilled your daily mission {{userSteps}} time<span ng-if="userSteps!=1">s</span>!</p>
      <div ng-if="stepDone == false">
        <p>Have you prayed today?</p>
        <button type="button" id="takeStepButton" ng-click="takeStep()">Yes!</button>
      </div>
      <div ng-if="stepDone == true">
        <p>Thanks for praying today!</p>
        <button type="button" id="undoStepButton" ng-click="undoStep()">Undo Today's "Yes"</button>
      </div>
    </div>
  </div>
  <div id="groupStatsBox">
    <div ng-if="loggedIn == false">
      <p>This is the Group Stats Box.</p>
      <p>This is where you see how well your group is doing in achieving their goals.</p>
      <div ui-grid="demoGroup" class="groupStatsGrid"></div>
    </div>
    <div ng-if="loggedIn == true">
      <p>You are a member of the {{currentUser.group_title}} group</p>
      <p>Here are the {{currentUser.group_title}} stats for the past week:</p>
      <div ui-if="gridData.data.length>0" ui-grid="currentGroup" class="groupStatsGrid" ui-grid-auto-resize ng-style="getTableHeight()"></div>
    </div>
  </div>
  </div>
  <div id="groupMessageBox">
    <div ng-if="loggedIn == false">
      <p>This is the Group Message Box.</p>
      <p>This is where you see messages (called "shouts") from your group members.</p>
      <div></div>
      <p>You also have the option to send your own shouts to your group members.</p>
      <div></div>
    </div>
    <div ng-if="loggedIn == true">
      <p>You have received NUMBER of shouts from your group!</p>
      <div></div>
      <p>Here are the shouts you can send to your fellow {{currentUser.group_title}} members:</p>
      <div></div>
    </div>
  </div>
  <div id="inspirationalBox">

  </div>
  <div id="resourcesBox">

  </div>
</div>
