<div class="container">
  <div id="dashWelcome">
    <p>Hello, {{currentUser.prefName}}!</p>
    <p>Thank you for interceding on behalf of those who need it most!</p>
  </div>
  <div id="statsBox" class="group">
    <div id="personalStatsBox" class="group">
      <div>
        <p class="verticalCenter">Have you prayed today?</p>
        <button type="button" id="stepToday">Yes!</button>
      </div>
    </div>
    <div id="groupStatsBox" class="group">

    </div>
  </div>
  <div id="groupMessageBox">

  </div>
  <div id="inspirationalBox">

  </div>
  <div id="resourcesBox">

  </div>
</div>
