<div class="container">
  <div id="dashWelcome">
    <p>Hello, {{currentUser.pref_name}}!</p>
    <p>Thank you for interceding on behalf of those who need it most!</p>
  </div>
  <div id="statsBox" class="group">
    <div id="personalStatsBox" class="group">
      <div ng-if="stepDone == false">
        <p>Have you prayed today?</p>
        <button type="button" id="takeStepButton" ng-click="takeStep()">Yes!</button>
      </div>
      <div ng-if="stepDone == true">
        <p>Thanks for praying today!</p>
        <button type="button" id="undoStepButton" ng-click="undoStep()">Undo Today's "Yes"</button>
      </div>
    </div>
    <div id="groupStatsBox" class="group">

    </div>
  </div>
  <div id="groupMessageBox">

  </div>
  <div id="inspirationalBox">

  </div>
  <div id="resourcesBox">

  </div>
</div>
