<div id="introBox">
  Now is the time for Mercy

  Have you felt burdened by the amount of suffering in the world?
  Could you commit to praying for 10 minutes a day?

  Then you can help make sure that anyone who needs prayer will have it...
  ...right when they need it most.

  You can become an Apostle of God’s Mercy,
  helping create total intercessory coverage of the world with prayers for Mercy.

  You can be come a Total Mercy Apostle.
</div>

<div id="whoBox">
  Who are the Total Mercy Apostles?

We are a group of Christians who understand that ours is a time of unprecedented evil and suffering, and that as Christians we truly have the power to affect real, positive change.  How is that change possible?  Through the power of Christ ultimately, but He has chosen to use us to help each other on Earth - through the ministry of intercession.  In order to make it accessible and realistic for as many as possible, the Total Mercy Apostles commit to pray for 10 minutes every day.

Who do the Total Mercy Apostles intercede for?

Anyone and everyone:
    - At the Hour of Death (for the mercy of salvation)
    - Living in Sin (for the mercy of conversion)
    - Vulnerable (for the mercy of protection)
    - Suffering (for the mercy of release)
    - Wounded (for the mercy of healing)
    - Lukewarm (for the mercy of conviction)
    - Seeking Holiness (for the mercy of sanctification)
    - In the Total Mercy Apostles (for the mercy of perseverance)
</div>

<div id="whatBox">
  What is the Vision?


A True Hedge of Protection
What would it be like to know that there is always a group of committed Christians praying for those who need it most anywhere in the world?  It would be as though these Christians were missionaries traveling the world and building a wall of grace around each person right when they need it.  Through the mystery of the Body of Christ, God has chosen to work through us to bring mercy to each other.  True, there are many ministries of intercession around the world, but we don’t believe there has been anything so organized or focused as the cause of the Total Mercy Apostles.  If you represent a group that intercedes regularly, you are most welcome to join our effort.

A Realistic Cause
Although we are sure it would be possible to find people all over the world willing to commit to an hour of intercession every day, we feel there would be much greater spiritual fruit if more people were involved in this effort.  For this reason, we only ask a daily commitment of 10 minutes of intercession.  This is much more realistic for most people to commit to, yet also easier for people to remember than, perhaps, a once-a-week commitment.
A Global Effort
As word of our effort spreads, our desire is to help people around the world know exactly which people are praying at the same time, and thus to make sure every hour of the day is covered.  Because of the complicated nature of the various time zones around the world, we have picked one hour of the day to “anchor” our prayer efforts.  We also use Coordinated Universal Time or UTC as the standard way to describe time zones, since these do not change with Daylight or Summer Time.  Click here for more information on UTC.
</div>

<div id="whenBox">
  The Hour of Total Mercy


  The Fullness of Time
  In the effort to organize prayer around the clock, across many time zones, it is helpful to pick one hour to “follow” around the world.  If there is one pivotal event in Scripture that has a specific time of the day, it is the hour when our Savior completed his sacrifice on our behalf.  Some traditions have called this The Hour of Divine Mercy.  It was the hour of the day that our Lord chose to finish his task.  It is the time of day that was made holy by his sacrifice.  It is the hour of the day that helps the Total Mercy Apostles organize themselves to bring people spiritually to the cross.
  The Hour of Mercy in Scripture
  John 11:9 - “Are there not twelve hours of daylight?” The culture of Jesus divided the daytime into twelve hours.

  Luke 23:44 - “It was now about the sixth hour, and darkness came over the whole land until the ninth hour.”  The sixth hour would have been the middle of the twelve hours of daylight, or Noon.  The ninth hour would have been 3:00 p.m.

  Luke 23:46 - [In the ninth hour,] “Jesus ... breathed his last.”

  Galatians 4:4-5 - “But when the fullness of time came, God sent forth His Son ... so that he might redeem ...”  The fullness of time is directly connected to Jesus’ life, and specifically to his redeeming act on the cross.
  Apostles and Missionaries
  By interceding for the world, Total Mercy Apostles act as Missionaries, spiritually kneeling at the foot of the cross in the Hour that Jesus died, and spiritually visiting all those who are most in need of the Lord’s Mercy around the world and praying on their behalf. Ideally, there would be a group of people at 3:00pm in each time zone, spiritually at the foot of the cross, praying for Mercy for the world.  (Then people would not need to wake up in the middle of the night to intercede.)  Perhaps someday that will be a reality through the Total Mercy Apostles.

  In the meantime, there is a need for generous Apostles to accept the call to be “doubly” missionary - spiritually traveling to another part of the world to intercede during their Hour of Mercy as well as spiritually visiting those in need all over the world, as mentioned before.  In this way, we’ll be able to realistically cover the world with critically needed prayers for Mercy as soon as possible... Especially since we only asking for a 10-minute daily commitment.
</div>

<div id="whyBox">
  Why we Pray


  Because someone needs our prayers right now
  We see the examples of need all over the news, and even around us in our daily life.  Here are just some of the needs that are happening... Right now someone:

          - is vulnerable to being kidnapped or sold for human trafficking
          - is suffering from terrible child molestation from someone they trusted
          - in government is choosing between corruption or helping the poor
          - is deeply wounded from their past choice to abort their child
          - is deciding to be more comfortable instead of choosing holiness
          - is tempted to take their sexual sin one step further
          - is ready to give up on their belief in God, however small it may have been
          - is looking for the food that will keep their children alive
          - is deciding to change their life, but they have no help to escape their sinful past
          - is tired of fighting the Good Fight, and is tempted to give up
          - is at the Hour of Death, facing their final choice to trust God’s Mercy... or not.

  Reading through these can be overwhelming and perhaps be a temptation to despair... but as Christians we know that there is HOPE.  Our God is bigger than all of this and there is truly something we CAN DO to help.  Intercessory prayer works - and the Lord is calling each of us to step up for those in need.

  These are only SOME of the reasons why the Total Mercy Apostles do what they do.  If only ONE of these were truly happening at any given moment, it would still be worth it to have an army of prayer warriors standing in that person’s defense and pleading for Mercy on their behalf.  Will you consider joining our effort?
</div>

<div id="howBox">
  How We Pray


  I looked for one to stand in the gap on behalf of the land... (cf. Ezekiel 22:30)

  The Mercy Hours and the Mercy Teams assigned to them are only in place to organize the effort to make sure that no one who needs prayers at any given moment is left wanting.  If a group of people are assigned to a particular Mercy Hour, that only governs when they are praying - not who (or where) they are praying for.  

  Every Total Mercy Apostle is praying for whoever needs it most anywhere in the world as a part of their particular Mercy Team.
  I have heard their groaning and have come... (cf. Acts 7:34)

  What do we as Christians have to “groan” about, since we have been redeemed?  The answer is the ongoing suffering throughout the world.  What is more comforting to those who are suffering, than to know that Jesus understands their suffering because he suffered more than anyone in his Passion and Death (You’ll find an account of the Passion towards the end of each of the Gospels).  As Total Mercy Apostles, we bring people spiritually to the cross to experience the Mercy of God for them individually, and we do this by steeping ourselves in what Our Lord went through for just ten minutes everyday.

  With 12 Total Mercy Apostles assigned to each of the six 10-minute segments in an hour, there are 72 Apostles on each Mercy Team answering the Lord’s call to go to every place. (cf. Luke 10:1)  Even more importantly, anyone who needs the Lord’s Mercy at any particular minute will find themselves spiritually surrounded by at least 12 Christians - each fully present to Christ and calling to mind his Sacrifice on behalf of the person in need.

  It should be emphasized that the Total Mercy Apostles are not limited to interceding for only ten minutes in this way.  In fact, we encourage interceding for a full hour, if possible.
</div>
