<div id="introBox" class="container">
  <h3>groupHance your chances that you'll groupChieve your goals:</h3>
  <h2>groupVance each day!</h2>
  <div class="row" id="introDesc">
    <p>
      “Alone we can do so little; together we can do so much”<br>
      - Helen Keller
    </p>
    <p>

    </p>
    <p>
      Have you had trouble achieving your goals?<br>
      Do you find that you're not able to motivate yourself to make progress?<br>
    </p>
    <p>
      Then you need to groupVance!
      <a href="dashboard">Take a tour</a> - <a ng-click="logIn()">Sign Up/Log In</a>
    </p>
  </div>
</div>
