<div id="introBox">
  <h3>groupHance your chances that you'll groupChieve your goals:</h3>
  <h2>groupVance each day!</h2>
  <div id="introDesc">
    <p></p>
    <p class="quote">
      “Alone we can do so little; together we can do so much” - Helen Keller
    </p>
    <p></p>
    <p class="biggerText">
      Have you had trouble achieving your goals?<br>
      Do you find that you're not able to motivate yourself to make progress?<br>
      Then you need to groupVance!<br>
      <a href="dashboard">Take a tour</a>   -   <a ng-click="logIn()">Sign Up/Log In</a>
    </p>
  </div>
</div>
